# Tyrex server configuration file
# $DATE$

# Version information. These values are set during the build process.
# These properties must not be copied into an external configuration file.
version.vendorName=$VENDOR.NAME$
version.vendorUrl=$VENDOR.URL$
version.number=$VERSION$
version.title=$TITLE$
version.copyright=$COPYRIGHT$

# True if should produce verbose messages
tyrex.log.verbose=false
# True if should emit messages to console
tyrex.log.console=true

# The number of clock ticks for each unsynchronized cycle
tyrex.clock.unsynchTicks=100
# The number of unsynchronized cycles before synchronizing the clock
tyrex.clock.synchEvery=10
# Determines whether to use secure or pseudo random number generator
# tyrex.random.secure=false
# The name of the UUID state file
tyrex.uuid.stateFile=uuid.state
# The detault domain configuration file(s) to load
#tyrex.domain.files=domain.xml
