# Tyrex server configuration file
# $DATE$


# Version information. These values are set during the build process.
# These properties must not be copied into an external configuration file.
version.vendorName=$VENDOR.NAME$
version.vendorUrl=$VENDOR.URL$
version.number=$VERSION$
version.title=$TITLE$
version.copyright=$COPYRIGHT$


# True if should produce verbose messages
tyrex.verbose=true
# True if should not emit messages to console
tyrex.silent=false


# The number of clock ticks to skip before incrementing the internal clock.
tyrex.clock.synchEvery=10
# The number of sleep ticks to skip before synchronizing with the system clock.
tyrex.clock.sleepTicks=100
# Determines whether to use secure or non-secure random number generator.
# tyrex.secureRandom=true
# The name of the UUID state file
tyrex.uuid.stateFile=uuid.state

# The name of the resource configuration file
tyrex.resources=resources.xml
